################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pdfCropStein/LanguageOfArt_cropped - Copy
/pdfCropStein/packages
/pdfCropStein/latourette_cropped
/pdfCropStein/latourette
/pdfCropStein/LanguageOfArt_cropped
/pdfCropStein/PDFAutoCropper/bin/Debug
/pdfCropStein/PDFAutoCropper/obj
/pdfCropStein/PDFAutoCropper/test
/pdfCropStein/PDFAutoCropper/file-page47.jpg
/pdfCropStein/PDFAutoCropper
/pdfCropStein/transparency_cropped
/pdfCropStein/transparency
/pdfCropStein/pyPdf-1.13
/pdfCropStein/latourette_cropped1.pdf
/pdfCropStein/latourette_backup.pdf
/pdfCropStein/latourette.pdf
/pdfCropStein/LanguageOfArt_origin.pdf
/pdfCropStein/LanguageOfArt_cropped5.pdf
/pdfCropStein/LanguageOfArt_cropped4.pdf
/pdfCropStein/LanguageOfArt_cropped3.pdf
/pdfCropStein/LanguageOfArt_cropped2.pdf
/pdfCropStein/LanguageOfArt_cropped1.pdf
/pdfCropStein/LanguageOfArt.pdf
/pdfCropStein/images2pdf.bat
/pdfCropStein/transparent_cropped.pdf
/pdfCropStein/transparency_cropped3.pdf
/pdfCropStein/transparency_cropped2.pdf
/pdfCropStein/transparency_cropped1.pdf
/pdfCropStein/transparency.pdf
