################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pdfCropStein/LanguageOfArt_cropped - Copy
